body {
    background-color: #333;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1b1b1b;
    padding: 10px;

}

nav a {
    color: #fff;
    font-size: 24px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0 10px;
    /* border: 4px solid #4c4c4c; */
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: #4c4c4c; */
}

nav a:hover {
    color: #ff0;
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* properly style h1 */
h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px 0;
}

/* properly style h2 */
h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px 0;
}

h3 {
    text-align: center;
    color: white;
    font-size: 24px;
}

.items{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.label {
    display: flex;
    flex-direction: column;
}


.label {
    /* make the text white */
    color: white;
    
    ul {
        list-style-type: circle;
        font-size: 20px;
        line-height: 30px;
    }
}

.budget, .intermediate, .expensive {

    img {
        width: 300px;
        height: auto;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;

    }
    padding: 20px;
    border: 5px solid yellow;
    border-radius: 20px;
    background-color: #4c4c4c;
    
}
.button2{
    img {
        width: 300px;
        height: auto;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;

    }
    display: flex;
    padding: 25px;
    padding-bottom: 10px;
    border: 5px solid yellow;
    border-radius: 20px;
    background-color: #4c4c4c;
    flex-direction: column;
}
.price {
    color: yellow;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category{
    color: yellow;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-name {
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}



/* INDEX.html */
.cover-image {
    text-align: center;
    img {
        width: 50%;
        height: auto;
    }
}

.welcome {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px 0;
}
.home-body {
    background-image: url("/images/homestock25.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

}

.pretty-nav {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-items: center;
    /* border: 10px solid yellow; */
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: -20px;
    height: 500px;
    line-height: 100px;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    div{
        border: 10px solid yellow;
        border-radius: 30px;
        width: 400px;
        height: 100px
    }
    div:hover {
        background-color: yellow;
    }

    a {
        color: rgb(250, 252, 253);
        font-size: 35px;
        text-shadow: -2px 2px 0 #2e1111, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
    a:hover {
       
        color: rgb(250, 252, 253);
    }
} 
/* end of pretty nav */


.looking-for {
    font-size: 30px;
    font-style: italic;
    text-shadow: -2px 2px 0 #2e1111, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.index-welcome{
    font-size: 40px;
}

/* style home-info (welcome paragraph) */
.home-info {
    color: white;
    
    p {font-size: 24px;}
    width: 500px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px auto; /* Set top and bottom margin to 20px, and left and right margins to auto */
    border: 10px solid white;
    border-radius: 20px;
    padding: 10px;

    line-height: 29px;
}

.active {
    text-decoration: underline yellow;
    
}




/* Recommendations Page */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: 'dejaVu sans', sans-serif; 

        input[type="text"], textarea {
            width: 300px;
            height: 40px; 
            border: 3px solid gold; 
            border-radius: 10px;
            font-size: 16px;
            font-family: 'dejaVu sans', sans-serif;
        }

    select {
        width: 300px;
        height: 40px;
        background-color: white;
        color: #333;
        border: 3px solid gold;
        border-radius: 10px;
        padding: 5px;
        font-size: 20px;
    }

    select option {
        background-color: white;
        color: black;
        font-size: 18px; 
    }

    input[type= "submit"] {
        width: 200px;
        height: 50px;
        background-color: gold;
        color: black;
        font-size: 20px;
        border: 3px solid black;
        border-radius: 10px;
        margin-top: 20px;
        font-family: 'dejaVu sans', sans-serif;
    }

    input[type= "submit"]:hover {
        background-color: yellow;
        color: black;
        font-size: 20px;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 10px;
    }

}

/* End of Recommendations page */


/* BUTTONS */
.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button:hover {
    transform: scale(1.1); /* Enlarge the button on hover */
    background-color: #0056b3; /* Change background color on hover */
}

.button2:hover {
    /* transform: scale(1.05);  */
    background-color: grey; /* Change background color on hover */
    cursor: pointer;
    img {
        transform: scale(1.1);
        transition: transform 0.2s;
    }
}


/* smallimg */
#smallimg {
    width: 200px;
    height: auto;
    margin: 10px;

}